<p id="notice"><%= notice %></p>

<h1>Listing P Cats</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @p_cats.each do |p_cat| %>
      <tr>
        <td><%= p_cat.title %></td>
        <td><%= p_cat.desc %></td>
        <td><%= link_to 'Show', p_cat %></td>
        <td><%= link_to 'Edit', edit_p_cat_path(p_cat) %></td>
        <td><%= link_to 'Destroy', p_cat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New P cat', new_p_cat_path %>
