<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vendor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @vendor.email %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @vendor.desc %>
</p>

<p>
  <strong>Mob:</strong>
  <%= @vendor.mob %>
</p>

<p>
  <strong>Address:</strong>
  <%= @vendor.address %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
