<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @p_sub_cat.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @p_sub_cat.desc %>
</p>

<%= link_to 'Edit', edit_p_sub_cat_path(@p_sub_cat) %> |
<%= link_to 'Back', p_sub_cats_path %>
