<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Title %><br>
    <%= f.text_field :title, :placeholder => "Title" %>
  </div>

  <div class="field">
    <%= f.label :Description %><br>
    <%= f.text_area :desc, :placeholder => "Description of the Product" %>
  </div>
  <div class="field">
    <%= f.label :Date_of_Manufacture %><br>
    <%= f.number_field :man_date%>
  </div>
  <div class="field">
    <%= f.label :Date_of_Expiry %><br>
    <%= f.number_field :exp_date %>
  </div>
  <div class="field">
    <%= f.label :Installation_Date %><br>
    <%= f.number_field :inst_date %>
  </div>
  <div class="field">
    <%= f.label :Status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :Zone_of_Installation %><br>
    <%= f.number_field :i_zone %>
  </div>
  <div class="field">
    <%= f.label :Location_of_Installation %><br>
    <%= f.text_area :i_location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
